.Header {
    background-color:rgb(114, 118, 124);
    height: 8vh;
}

#Left {
    width: 20%;
    text-align: center;
    background-color: rgb(190, 186, 180);
}

/* center */
article {
    width: 60%;
    background-color: rgb(201, 219, 235);
}

#Right {
    width: 20%;
    background-color: rgb(190, 186, 180);
}

